@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin :0;
    padding :0;

}

body{
    font-family: 'Roboto Slab', serif;
}

.first{
    background-color: #1f2937;
}

#headerlogo{
    font-size :24px;
    color: #f9faf8
}

.headerlink{
    font-size: 18px;
    color: #e5e7eb;
    margin :10px;
}
.navbar{
    display :flex;
    flex-direction: row;
}
ul{
    display :flex;
    flex-direction: row;
}

.lefty , .righty{
        display :flex;
        width: 50%;
        justify-content: center;
        align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.content{
    display:flex;
    flex-direction:row;
    margin :50px;
}
 .contentright{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}
.contentleft {
    display:flex;
    flex-direction: column;
    width:50%;
  
    justify-content: center;
margin:150px
}
img{
    margin-bottom :50px;
}

.p-first{
    font-size: 18px;
 
    color: #e5e7eb;
}

.signup{
    background-color: #3882f6;
    color:white;
    width:100px;
    height:30px;
    border:1px  #3882f6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    text-align: center;
}


.rowofbluediv{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:100%;
    margin: 100px;
}
.boxblue{
    border: 3px solid #3882f6;
    width : 200px;
    height:200px;
    border-radius: 5px;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.psecond{
    text-align: center;
    font-size: 18px;
}

.third{
    background-color: #e5e7eb;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
    color : #1f2937;
    align-items: center;
}
.pthird{
    font-size: 18px;
    text-align: end;
}

#pdiv{
    display:flex;
    justify-content: flex-end;
    margin-left :500px;
}

.fourth{
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bluecontainer{
    background-color: #3882f6;
    width:75%;
    height: 30%;
    display:flex;
    flex-direction: row;

}
.blueleft{
    widht:80%;
    margin-left:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h4{
    font-size:24px;
    color:white;
    
}
.lastp{
    color: white;
    font-size:18px;

}
.blueright{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left:200px;

}
.btn{
    background-color: #3882f6;
    color:white;
    width:100px;
    height:30px;
    border:3px solid white;
    border-radius: 10px ;
}